spring:
  application:
    name: auth-service

  datasource:
    url: jdbc:postgresql://localhost:5432/auth_db
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate # ou update/create-drop selon ton besoin
    properties:
      hibernate.dialect: org.hibernate.dialect.PostgreSQLDialect

  cloud:
    config:
      enabled: false

eureka:
  client:
    enabled: false
