name: Docker Build & Push

on:
  push:
    branches: [ dev ]

jobs:
  docker-build-push:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
    - uses: actions/checkout@v4

    - name: Login to GitHub Container Registry
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Build images
      run: |
        docker compose -f docker-compose.yml build

    - name: Push images
      run: |
        docker compose -f docker-compose.yml push
